{{!< default}}

<div class="page-post">
    {{#post}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-4 section">
                    <h1>{{@blog.title}}</h1>
                    <p>{{@blog.description}}</p>
                </div>
                <div class="col-xs-12 col-md-8 section">
                    <h5>{{@title}}</h5>
                    {{#if image}}
                        <img src="{{image}}" class="featured-image"/>
                    {{/if}}
                    {{content}}
                </div>
            </div>
        </div>
    {{/post}}
    {{>contact-links}}
</div>